/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f8fa;
    font-size: 16px;
}

/* Page Title */
.main-title {
    text-align: center;
    color: #007c91;
    margin-top: 25px;
}

/* Flexbox Layout */
.container {
    display: flex;
    gap: 25px;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

/* Card Design */
.card {
    flex: 1;
    background: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    color: #007c91;
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}


/* Inputs */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

textarea {
    resize: vertical;
}

/* Buttons */
button {
    padding: 10px 18px;
    background: #007c91;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    background: #005f75;
}

/* To-Do List */
#taskList {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#taskList li {
    background: #e8f7fa;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
